/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* RESET STYLES ABOVE ADD CSS BELOW THIS LINE */

.navbar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.weekly-daily,
.unit-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.switch {
  position: relative;
  display: flex;
  gap: 2rem;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  border-radius: 50%;
}

.mid-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  .location {
    margin: 1rem;
    width: 25rem;
    border-radius: 6px;
    border: 1px solid black;
  }
  button {
    border-radius: 6px;
    border: 1px solid black;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .current-location {
    margin: 2rem;
    width: 100%;
    height: 2.5rem;
    text-align: center;
  }
  .current-conditions {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2196f3;
    width: 25rem;
    height: 40rem;
    /* margin-top: 2.5rem; */
  }
}
